<html>
<body>
    <h2>Details for {{buyer.2}} {{buyer.3}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>Username</th>
            <td>:</td>
            <td> {{ buyer.0 }} </td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>:</td>
            <td> {{ buyer.2 }} </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>:</td>
            <td> {{ buyer.3 }} </td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>:</td>
            <td> {{ buyer.4 }} </td>
        </tr>
        <tr>
            <th>Hall</th>
            <td>:</td>
            <td> {{ buyer.5 }} </td>
        </tr>
        <tr>
            <th>Wallet Balance</th>
            <td>:</td>
            <td> {{ buyer.6 }} </td>
        </tr>
    </table>
</body>
</html>
